DB_HOST=mysql-****-dbstore.b.aivencloud.com
DB_PORT=****
DB_NAME=mybatis3
DB_USERNAME=avnadmin
DB_PASSWORD=AVNS_PG_****

# https://console.groq.com/keys
GROQ_API_KEY=gsk_*****
# https://aistudio.google.com/api-keys
GEMINI_API_KEY=AQ.*****
# https://build.nvidia.com/settings/api-keys
NIM_API_KEY=nvapi-*****